<div class="departure-list">
    <div ng-hide="departures" class="start-description">Press <i
            class=" mdi-action-list"></i> on the bottom to open search box.
    </div>
    <div ng-show="departures" class="filters well">

        <a ng-click="HomeFactory.addAsFavorite(departures.stop['slug'])"
           class="btn btn-default btn-fab btn-raised "
           ng-class="{true: 'mdi-action-favorite', false: 'mdi-action-favorite-outline'}[favStop == departures.stop['slug']]"></a>
        <span>{{departures.stop['name']}}</span>
        <clock class="clock pull-right"></clock>
        <div class="lines-list clearfix">


            <a ng-class="{'btn-raised':filters.lineNumber === ''}" ng-click="filters.lineNumber = ''"
               class="btn btn-info btn-fab mdi-action-view-headline"></a>
            <a ng-class="{'btn-raised':filters.lineNumber === line}" ng-repeat="line in departures.lines"
               ng-click="filters.lineNumber = line;"
               class="btn btn-text btn-info btn-fab">{{line}}</a>
        </div>
    </div>
    <div ng-show="departures" class="list-group well">

        <div class="single-departure" ng-repeat="dep in departures.deps  | linesFilter:filters">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i ng-show="dep['bus']" class="transport-icon mdi-maps-directions-bus"></i>
                    <i ng-hide="dep['bus']" class="transport-icon mdi-maps-directions-transit"></i>
                </div>
                <div class="row-content">

                    <minutes-till time="{{dep.exactTime}}"></minutes-till>
                    <h4 class="list-group-item-heading">{{dep['lineNumber']}}</h4>

                    <p class="list-group-item-text">
                        <span class="from-small">{{dep['routeDetails']['startName']}}</span>
                        -
                        <span class="from-big">{{dep['routeDetails']['endName']}}</span>

                    </p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>

    </div>
</div>
